.page {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: var(--main-font-family);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
  min-height: var(--section-min-height);
  position: relative;
  padding: var(--gap);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: var(--gap);
}

.header__theme-menu-button {
  font-family: var(--main-font-family);
  font-weight: var(--regular-font-weight);
  font-size: var(--main-font-size);
  line-height: 100%;
  text-align: center;
  color: var(--decor-color);
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  padding: 0px 13px;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
}

.header__lamp-text {
  position: absolute;
  top: var(--gap);
  right: 38px;
  font-family: inherit;
  font-weight: var(--regular-font-weight);
  font-size: var(--main-font-size);;
  line-height: 139%;
  text-align: center;
  color: var(--decor-color);
}

.header__lamp-text::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: currentColor;
  box-shadow: 0 0 4px 2px currentColor;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  border-right: var(--corner-border);
  border-top: var(--corner-border);
  width: var(--decore-size);
  height: var(--decore-size);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: var(--gap);
  bottom: var(--gap);
  border-bottom: var(--corner-border);
  border-left: var(--corner-border);
  width: var(--decore-size);
  height: var(--decore-size);
}

.title {
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.title-decor {
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);;
  font-size: var(--main-font-size);
  line-height:  var(--title-line-height);
  color: var(--title-decor-color);
  background: var(--accent-color);
  height: 117px;
}

.main {
  margin-top: var(--section-margin-top);
  padding: 0px var(--gap);
  display: grid;
  gap: var(--section-gap);
}

.section {
  display: grid;
  gap: 20px;
}

.section__card-list {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: var(--gap);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus-visible {
  outline: none;
  border: 1px solid currentColor;
}

.section__title {
  font-family: var(--main-font-family);
  font-weight: var(--bold-font-weight);;
  font-size: var(--main-font-size);
  line-height: var(--title-line-height);
  color: var(--section-title-color);
}

.card__title {
  height: 23px;
}

.card__subtitle {
  font-weight: var(--regular-font-weight);
}

.card__text {
  font-family: var(--main-font-family);
  font-weight: var(--regular-font-weight);
  font-size: var(--main-font-size);
  line-height:  var(--title-line-height);
  color: var(--card-text-color);
}

.text-blocks > h3 {
  min-height: 47px;
}

.text-blocks {
  display: grid;
  gap: 20px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.section__images {
  gap: var(--gap);
}

.gallery {
  display: grid;
  gap: var(--gap);
}

.footer {
  height: 100vh;
  min-height: var(--section-min-height);
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  margin-top: var(--section-margin-top);
}

.footer .title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.theme-dark .header__lamp-text {
  display: block;
}

.theme-light .header__lamp-text {
  display: none;
}

.header__theme-menu-button_active {
  pointer-events: none;
}

@media (min-width: 768px) {
  .title {
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    left: calc(var(--gap) * -1);
    position: relative;
  }

  .header {
    --gap: 20px;
    --section-min-height: 1024px;
  }

  .header__lamp-text {
    right: 49px;
  }

  .header__theme-menu-list {
    --gap: 10px;
  }

  .header .title-decor {
    max-width: 364px;
    justify-self: end;
  }

  .main {
    --section-margin-top: 60px;
    padding: 0px 20px;
    --section-gap: 80px;
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .reasons .section__title {
    grid-column: 1 / -1;
    max-width: 236px;
  }

  .reasons .section__card-list {
    grid-column: 1 / -1;
  }

  .text-blocks > h3 {
    min-height: 23px;
  }

  .section__images .title-decor, .section__images .gallery {
    grid-column: 1 / -1;
  }

  .section__images {
    --gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .sunset_image {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .ice-cream_image {
    grid-row: 1 / 3;
    grid-column: 3;
  }

  .tape_image {
    grid-row: 2 / 4;
    grid-column: 1;
  }

  .street_image {
    grid-row: 3;
    grid-column: 2 / 4;
  }

  .footer {
    --section-margin-top: 60px;
    --gap: 20px;
    --section-min-height: 1024px;
  }

  .footer .title {
    justify-self: center;
    left: 0;
  }
}

@media (min-width: 1024px) {
  .header {
    --section-min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
  }

  .header .title-decor {
    max-width: 491px;
    max-height: 70px;
  }

  .reasons {
    grid-template-columns: repeat(3, 1fr);
  }

  .reasons .section__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .reasons .section__title {
    max-width: 315px;
  }

  .footer {
    --section-min-height: 768px;
  }
}