/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  font-family: var(--main-font-family);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
  min-height: var(--header-min-height);
  position: relative;
  padding: var(--gap);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  gap: var(--gap);
}

.header__theme-menu-button {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--accent-color);
  border: none;
  background-color: transparent;
  text-transform: lowercase;
  padding: 0px 13px;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__lamp-text {
  position: absolute;
  top: var(--gap);
  right: 38px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: var(--accent-color);
}

.header__lamp-text::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: currentColor;
  box-shadow: 0 0 4px 2px currentColor;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  border-right: var(--corner-border);
  border-top: var(--corner-border);
  width: 25px;
  height: 24px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  left: var(--gap);
  bottom: var(--gap);
  border-bottom: var(--corner-border);
  border-left: var(--corner-border);
  width: 25px;
  height: 25px;
}

.title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: center;
}

.title-decor {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--background-color);
  background: var(--accent-color);
  height: 117px;
}

.main {
  margin-top: 40px;
  padding: 0px var(--gap);
  display: grid;
  gap: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__card-list {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: var(--gap);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-color);
}

.card__title {
  color: var(--background-color);
  height: 23px;
}

.card__subtitle {
  font-weight: 400;
}

.card__text {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--card-text-color);
}

.section__recommendations > h3 {
  height: 47px;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
}

.section__images {
  gap: var(--gap);
}

.section__images .section__card-list {
  gap: var(--gap);
}